In [1]:
print("Hello world!")

Hello world!

In [4]:
word = 'word'

sentence = "This is a sentence."
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""


comments:
#some comments..single line use
'''
This is a multiline
comment.
'''

In [6]:
sentence = "This is a sentence."
sentence

'This is a sentence.'

In [8]:
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""
paragraph

'This is a paragraph. It is\nmade up of multiple lines and sentences.'

In [9]:
#This is just sample line ...to explain comments section

In [10]:
'''njfjdsfsdf
dsfds
f
sdf
dsf
sd
f
dsf'''

'njfjdsfsdf\ndsfds\nf\nsdf\ndsf\nsd\nf\ndsf'

In [2]:
a = b = c = 1

In [5]:
print(a,b,c)

1 2 john

In [4]:
a,b,c = 1,2,"john"

In [21]:
var1 = 1
var2 = 10
print(var1)
print(var2)

1
10

In [24]:
var1

NameError: name 'var1' is not defined

In [22]:
del var1

In [25]:
#-->Numerical Types
'''int (signed integers)--(10,100,76)
--long (long integers, they can also be represented in octal and hexadecimal)--(51924361L,-0x19323L,0xDEFABCECBDAECBFBAEl)
--float (floating point real values)--(32.3+e18,3.3,0.9898,70.2-E12)
--complex (complex numbers)--(3.14j,9.322e-36j,-.6545+0J)'''

'int (signed integers)--(10,100,76)\n--long (long integers, they can also be represented in octal and hexadecimal)--(51924361L,-0x19323L,0xDEFABCECBDAECBFBAEl)\n--float (floating point real values)--(32.3+e18,3.3,0.9898,70.2-E12)\n--complex (complex numbers)--(3.14j,9.322e-36j,-.6545+0J)'

In [6]:
str = 'Hello World!'
str

'Hello World!'

In [8]:

print(str)          # Prints complete string
print(str[0])       # Prints first character of the string
print(str[1:5])     # Prints characters starting from 3rd to 5th
print(str[2:])      # Prints string starting from 3rd character
print(str * 2)      # Prints string two times
print(str + "TEST") # Prints concatenated string

Hello World!
H
ello
llo World!
Hello World!Hello World!
Hello World!TEST

In [10]:
#List

ram = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
sharmila = [123, 'john']

In [14]:
ram[3]

'john'

In [13]:
sharmila[0]

123

In [31]:
print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 3rd 
print(list[2:])      # Prints elements starting from 3rd element
print(tinylist * 2)  # Prints list two times
print(list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [32]:
#Tuple
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

In [33]:
tuple

('abcd', 786, 2.23, 'john', 70.2)

In [34]:
tinytuple

(123, 'john')

In [35]:

print(tuple)           # Prints complete list
print(tuple[0])        # Prints first element of the list
print(tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print(tuple[2:])       # Prints elements starting from 3rd element
print(tinytuple * 2)   # Prints list two times
print(tuple + tinytuple) # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [36]:
tuple[0]="efgh"

TypeError: 'tuple' object does not support item assignment

In [37]:
list[0]="efgh"

In [39]:
list

['efgh', 786, 2.23, 'john', 70.2]

In [15]:
#=>Dictionary:
#kind of hash table type and are simply unordered

dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

In [16]:
dict

{2: 'This is two', 'one': 'This is one'}

In [17]:
tinydict

{'code': 6734, 'dept': 'sales', 'name': 'john'}

In [18]:

print(dict['one'])       # Prints value for 'one' key
print(dict[2])           # Prints value for 2 key
print(tinydict)          # Prints complete dictionary
print(tinydict.keys())   # Prints all the keys
print(tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'dept': 'sales', 'code': 6734}
dict_keys(['name', 'dept', 'code'])
dict_values(['john', 'sales', 6734])

In [44]:
a=10

In [45]:
a

10

In [46]:
a="somevalues"

In [47]:
a

'somevalues'

In [20]:
ram="hello world!"
print(ram)
ram

hello world!

'hello world!'

In [25]:
for i in range(100000000000000):
    pass
print("success")

KeyboardInterrupt: